openapi: 3.1.0
info:
  title: Nomenclature Directory API
  version: 0.1.0
  description: |
    REST API для иерархического справочника номенклатуры. Контракты
    согласованы с существующей архитектурой FastAPI (`/api/v1`) и не
    конфликтуют с текущими сущностями `tender_management` / `pricing_kb_ai`.
servers:
  - url: https://seny.uralreduktor.com/api/v1
    description: Production
  - url: http://localhost:8000/api/v1
    description: Local development
security:
  - bearerAuth: []
paths:
  /nomenclature/nodes:
    get:
      summary: Получить список узлов классификатора
      operationId: listNomenclatureNodes
      parameters:
        - in: query
          name: parent_id
          schema:
            type: integer
          description: Фильтр по родителю
        - in: query
          name: depth
          schema:
            type: integer
            minimum: 0
          description: Ограничение глубины вложенных детей
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/NodeStatus'
          description: Статус узла (draft/active/archived)
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NomenclatureNode'
    post:
      summary: Создать узел классификатора
      operationId: createNomenclatureNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NomenclatureNodeCreate'
      responses:
        '201':
          description: Узел создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureNode'
  /nomenclature/nodes/{nodeId}:
    parameters:
      - $ref: '#/components/parameters/NodeId'
    get:
      summary: Получить узел классификатора
      operationId: getNomenclatureNode
      responses:
        '200':
          description: Узел найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureNode'
        '404':
          $ref: '#/components/responses/NotFound'
  /nomenclature/cards/bulk/lifecycle:
    post:
      summary: Массовое изменение статусов карточек
      operationId: bulkChangeCardLifecycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkLifecycleRequest'
      responses:
        '200':
          description: Результат обработки карточек
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkOperationResult'
  /nomenclature/cards/bulk/methodology:
    post:
      summary: Массовое обновление методик карточек
      operationId: bulkUpdateCardMethodology
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkMethodologyRequest'
      responses:
        '200':
          description: Результат обработки карточек
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BulkOperationResult'
    patch:
      summary: Обновить метаданные узла
      operationId: updateNomenclatureNode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NomenclatureNodeUpdate'
      responses:
        '200':
          description: Узел обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureNode'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      summary: Архивировать узел
      operationId: archiveNomenclatureNode
      responses:
        '204':
          description: Узел архивирован (soft delete)
  /nomenclature/nodes/{nodeId}/schemas:
    parameters:
      - $ref: '#/components/parameters/NodeId'
    get:
      summary: Список версий схемы атрибутов
      operationId: listNodeSchemas
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClassSchemaVersion'
    post:
      summary: Создать новую версию схемы
      operationId: createClassSchemaVersion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassSchemaDraft'
      responses:
        '201':
          description: Версия создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassSchemaVersion'
  /nomenclature/nodes/{nodeId}/schemas/{version}/publish:
    parameters:
      - $ref: '#/components/parameters/NodeId'
      - name: version
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Опубликовать схему класса
      operationId: publishClassSchemaVersion
      responses:
        '200':
          description: Схема опубликована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassSchemaVersion'
        '409':
          $ref: '#/components/responses/Conflict'
  /nomenclature/nodes/{nodeId}/schemas/{version}/diff:
    parameters:
      - $ref: '#/components/parameters/NodeId'
      - name: version
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Получить diff схемы атрибутов
      operationId: getClassSchemaDiff
      responses:
        '200':
          description: Разница между текущей и предыдущей версиями
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassSchemaDiff'
        '404':
          $ref: '#/components/responses/NotFound'
  /nomenclature/presets:
    get:
      summary: Список пресетов атрибутов
      operationId: listAttributePresets
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttributePreset'
    post:
      summary: Создать пресет атрибутов
      operationId: createAttributePreset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributePresetCreate'
      responses:
        '201':
          description: Пресет создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributePreset'
        '409':
          $ref: '#/components/responses/Conflict'
  /nomenclature/presets/{presetId}:
    parameters:
      - name: presetId
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Получить пресет
      operationId: getAttributePreset
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributePreset'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Обновить пресет
      operationId: updateAttributePreset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributePresetUpdate'
      responses:
        '200':
          description: Пресет обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttributePreset'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Архивировать пресет
      operationId: archiveAttributePreset
      responses:
        '204':
          description: Пресет архивирован
  /nomenclature/cards:
    get:
      summary: Поиск карточек
      operationId: listNomenclatureCards
      parameters:
        - in: query
          name: node_id
          schema:
            type: integer
        - in: query
          name: lifecycle_status
          schema:
            $ref: '#/components/schemas/LifecycleStatus'
        - in: query
          name: search
          schema:
            type: string
          description: Поиск по названию, кодам, синонимам
        - in: query
          name: search_mode
          schema:
            type: string
            enum: [text, semantic, combined]
          description: >
            Режим поиска: text — подстрочный pg_trgm, semantic — pgvector по
            ai_embedding, combined — усреднение обоих скорингов.
          default: text
        - in: query
          name: manufacturer
          schema:
            type: string
          description: Фильтр по производителю (подстрока, без учета регистра)
        - in: query
          name: code
          schema:
            type: string
          description: Точный поиск по коду карточки
        - in: query
          name: has_methodology
          schema:
            type: boolean
          description: true — только карточки с привязанными методиками
        - in: query
          name: base_price_min
          schema:
            type: number
            format: float
            minimum: 0
        - in: query
          name: base_price_max
          schema:
            type: number
            format: float
            minimum: 0
        - in: query
          name: sort_by
          schema:
            type: string
            enum: [updated_at, code, base_price, usage_count]
          description: Поле сортировки
          default: updated_at
        - in: query
          name: sort_order
          schema:
            type: string
            enum: [asc, desc]
          description: Направление сортировки
          default: desc
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Карточки найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedNomenclatureCards'
    post:
      summary: Создать карточку номенклатуры
      operationId: createNomenclatureCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NomenclatureCardCreate'
      responses:
        '201':
          description: Карточка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureCard'
        '400':
          description: Ошибка валидации атрибутов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValidationError'
  /nomenclature/cards/{cardId}:
    parameters:
      - $ref: '#/components/parameters/CardId'
    get:
      summary: Получить карточку
      operationId: getNomenclatureCard
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureCard'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Обновить значения карточки
      operationId: updateNomenclatureCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NomenclatureCardUpdate'
      responses:
        '200':
          description: Карточка обновлена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureCard'
        '400':
          description: Ошибка валидации атрибутов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
  /nomenclature/cards/{cardId}/lifecycle:
    parameters:
      - $ref: '#/components/parameters/CardId'
    post:
      summary: Изменить статус жизненного цикла
      operationId: changeCardLifecycle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLifecycleChange'
      responses:
        '200':
          description: Статус обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NomenclatureCard'
        '400':
          description: Нарушены правила перехода
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LifecycleValidationError'
        '409':
          $ref: '#/components/responses/Conflict'
  /nomenclature/cards/{cardId}/versions:
    parameters:
      - $ref: '#/components/parameters/CardId'
    get:
      summary: История версий карточки
      operationId: listCardVersions
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NomenclatureCardVersion'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    NodeId:
      name: nodeId
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор узла классификатора
    CardId:
      name: cardId
      in: path
      required: true
      schema:
        type: integer
      description: Идентификатор карточки номенклатуры
  responses:
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPError'
    Conflict:
      description: Конфликт данных (версионность, статус)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HTTPError'
  schemas:
    HTTPError:
      type: object
      properties:
        detail:
          oneOf:
            - type: string
            - type: array
              items:
                type: object
      required:
        - detail
    NodeStatus:
      type: string
      enum: [draft, active, archived]
    LifecycleStatus:
      type: string
      enum: [draft, review, active, archived]
    NomenclatureNode:
      type: object
      properties:
        id:
          type: integer
        parent_id:
          type: integer
          nullable: true
        code:
          type: string
        name:
          type: string
        node_type:
          type: string
          enum: [segment, family, class, category]
        depth:
          type: integer
        version:
          type: integer
        status:
          $ref: '#/components/schemas/NodeStatus'
        effective_from:
          type: string
          format: date-time
        effective_to:
          type: string
          format: date-time
          nullable: true
        is_archived:
          type: boolean
        schemas:
          type: array
          items:
            $ref: '#/components/schemas/ClassSchemaVersion'
      required:
        - id
        - code
        - name
        - node_type
    NomenclatureNodeCreate:
      type: object
      properties:
        parent_id:
          type: integer
          nullable: true
        code:
          type: string
          pattern: '^[A-Z0-9\\.]+$'
        name:
          type: string
        node_type:
          type: string
          enum: [segment, family, class, category]
      required:
        - code
        - name
        - node_type
    NomenclatureNodeUpdate:
      type: object
      properties:
        name:
          type: string
        status:
          $ref: '#/components/schemas/NodeStatus'
        effective_to:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true
    ClassSchemaVersion:
      type: object
      properties:
        node_id:
          type: integer
        version:
          type: integer
        status:
          type: string
          enum: [draft, review, published, archived]
        json_schema:
          type: object
          description: JSON Schema v2020-12
        presets:
          type: array
          items:
            $ref: '#/components/schemas/AttributePreset'
        created_by:
          type: integer
        created_at:
          type: string
          format: date-time
      required:
        - node_id
        - version
        - status
        - json_schema
    ClassSchemaDraft:
      type: object
      properties:
        json_schema:
          type: object
          description: Полная схема параметров
        presets:
          type: array
          items:
            type: integer
            description: ID пресета
        comment:
          type: string
      required:
        - json_schema
    AttributePreset:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        title:
          type: string
        description:
          type: string
          nullable: true
        version:
          type: integer
        status:
          type: string
          enum: [draft, review, published, archived]
        json_schema:
          type: object
        created_at:
          type: string
          format: date-time
      required:
        - id
        - code
        - title
        - json_schema
    AttributePresetCreate:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        description:
          type: string
        json_schema:
          type: object
        version:
          type: integer
          default: 1
      required:
        - code
        - title
        - json_schema
    AttributePresetUpdate:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        json_schema:
          type: object
        version:
          type: integer
    NomenclatureCard:
      type: object
      properties:
        id:
          type: integer
        node_id:
          type: integer
        node_version:
          type: integer
        segment_code:
          type: string
          nullable: true
        family_code:
          type: string
          nullable: true
        class_code:
          type: string
          nullable: true
        category_code:
          type: string
          nullable: true
        code:
          type: string
        canonical_name:
          type: string
        lifecycle_status:
          $ref: '#/components/schemas/LifecycleStatus'
        attributes_payload:
          $ref: '#/components/schemas/AttributesPayload'
        files:
          type: array
          items:
            $ref: '#/components/schemas/CardFile'
        base_price:
          type: number
          format: float
        currency:
          type: string
          default: RUB
        price_source:
          type: string
        price_valid_until:
          type: string
          format: date-time
          nullable: true
        price_confidence:
          type: number
          format: float
          nullable: true
        methodology_ids:
          type: array
          items:
            type: integer
        synonyms:
          type: array
          items:
            $ref: '#/components/schemas/CardSynonym'
        position_usage:
          type: array
          items:
            $ref: '#/components/schemas/CardUsage'
        version:
          type: integer
        audit:
          $ref: '#/components/schemas/CardAuditMeta'
        tags:
          type: object
          additionalProperties: true
        related_nomenclature_ids:
          type: array
          items:
            type: integer
        audit_log_id:
          type: integer
          nullable: true
        search_confidence:
          type: number
          format: float
          nullable: true
      required:
        - id
        - node_id
        - code
        - lifecycle_status
    NomenclatureCardCreate:
      type: object
      properties:
        code:
          type: string
          description: Пользовательский код; если не передан, генерируется автоматически
        node_id:
          type: integer
        node_version:
          type: integer
        canonical_name:
          type: string
        attributes_payload:
          $ref: '#/components/schemas/AttributesPayload'
        files:
          type: array
          items:
            $ref: '#/components/schemas/CardFileInput'
        price_confidence:
          type: number
          format: float
          nullable: true
        methodology_ids:
          type: array
          items:
            type: integer
        synonyms:
          type: array
          items:
            type: string
        related_nomenclature_ids:
          type: array
          items:
            type: integer
      required:
        - node_id
        - canonical_name
        - attributes_payload
    NomenclatureCardUpdate:
      type: object
      properties:
        canonical_name:
          type: string
        attributes_payload:
          $ref: '#/components/schemas/AttributesPayload'
        files:
          type: array
          items:
            $ref: '#/components/schemas/CardFileInput'
        methodology_ids:
          type: array
          items:
            type: integer
        synonyms:
          type: array
          items:
            type: string
        base_price:
          type: number
          format: float
        currency:
          type: string
        price_source:
          type: string
        price_valid_until:
          type: string
          format: date-time
        price_confidence:
          type: number
          format: float
          nullable: true
        related_nomenclature_ids:
          type: array
          items:
            type: integer
    CardLifecycleChange:
      type: object
      properties:
        target_status:
          $ref: '#/components/schemas/LifecycleStatus'
        reason:
          type: string
        effective_from:
          type: string
          format: date-time
        effective_to:
          type: string
          format: date-time
          nullable: true
      required:
        - target_status
    NomenclatureCardVersion:
      type: object
      properties:
        version:
          type: integer
        diff_payload:
          type: object
        author_id:
          type: integer
        created_at:
          type: string
          format: date-time
        comment:
          type: string
    AttributesPayload:
      type: object
      additionalProperties: true
      description: Значения атрибутов, валидированные по JSON Schema класса.
    CardFile:
      type: object
      properties:
        type:
          type: string
          enum: [passport, datasheet, drawing, certificate, other]
        storage_key:
          type: string
        hash:
          type: string
        source:
          type: string
        uploaded_at:
          type: string
          format: date-time
    CardFileInput:
      allOf:
        - $ref: '#/components/schemas/CardFile'
        - type: object
          properties:
            file_token:
              type: string
              description: Ключ временного хранения (MinIO/FileService)
          required:
            - file_token
    CardSynonym:
      type: object
      properties:
        value:
          type: string
        locale:
          type: string
          default: ru-RU
    CardUsage:
      type: object
      properties:
        position_id:
          type: integer
        tender_id:
          type: integer
        tender_number:
          type: string
        usage_count:
          type: integer
        last_used_at:
          type: string
          format: date-time
    CardAuditMeta:
      type: object
      properties:
        created_by:
          type: integer
        created_at:
          type: string
          format: date-time
        last_editor_id:
          type: integer
        last_reviewed_at:
          type: string
          format: date-time
    SchemaValidationError:
      type: object
      properties:
        detail:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
    LifecycleValidationError:
      type: object
      properties:
        detail:
          type: array
          items:
            type: string
    ClassSchemaDiff:
      type: object
      properties:
        node_id:
          type: integer
        version:
          type: integer
        created_at:
          type: string
          format: date-time
        diff:
          type: object
          properties:
            added:
              type: object
              additionalProperties: {}
            removed:
              type: array
              items:
                type: string
            changed:
              type: object
              additionalProperties:
                type: object
                properties:
                  old:
                    type: object
                  new:
                    type: object
    PaginatedNomenclatureCards:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/NomenclatureCard'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        pages:
          type: integer
    BulkOperationResult:
      type: object
      properties:
        card_id:
          type: integer
        status:
          type: string
          enum: [updated, not_found, skipped, error]
        message:
          type: string
      required:
        - card_id
        - status
    BulkLifecycleRequest:
      type: object
      properties:
        card_ids:
          type: array
          minItems: 1
          items:
            type: integer
        change:
          $ref: '#/components/schemas/CardLifecycleChange'
      required:
        - card_ids
        - change
    BulkMethodologyRequest:
      type: object
      properties:
        card_ids:
          type: array
          minItems: 1
          items:
            type: integer
        methodology_ids:
          type: array
          items:
            type: integer
        mode:
          type: string
          enum: [replace, append, remove]
          default: replace
      required:
        - card_ids
